language = "python3"
#run = "python aritmatika"
#run = "python LATIHAN_PYTHON"
#run = "python main.py"
#run = "python try"
#run = "python pertemuan7"
#run = "python Luas_Volume"
#run = "python aritmatika_lanjutan"
run = "python kasir"